@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes movetext {
    0% {
        transform: translateY(40rem) rotateY(-20deg);
    }
    100% {
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}
@supports (-webkit-text-stroke: 1px rgba(225, 225, 225,.5)) {
    #hero h1 {
      -webkit-text-stroke: 1px rgba(225, 225, 225,.5);
      -webkit-text-fill-color: transparent;
    }
    h1 {
        -webkit-text-stroke: 1px rgb(134, 113, 73);
        -webkit-text-fill-color: transparent;
      }
  }