@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes movetext {
    0% {
        transform: translateY(40rem) rotateY(-20deg);
    }
    100% {
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}